@mixin heading($font-size) {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: $font-size;
}

@mixin btn-variant($color, $btn-bg-color, $btn-border-color) {
  color: $color;
  background-color: $btn-bg-color;
  border: 1px solid $btn-border-color;
  border-radius: 80px;
  padding: 5px 30px;
}
